html, body {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(#99A5FF, #BE99FF);
	background-attachment: fixed;
}

.table-container {
	max-height: 500px;
	width: 100%;
	overflow-y: scroll;
	padding:0;
	scrollbar-width: none;
	scrollbar-color: white rgba(0,0,0,0);
}

.task-container {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
	background-color: rgba(255,255,255,.5);
	height: inherit;
	margin: 0;
}

.task-container td, th {
	padding: 3px 18px;
	text-align: center;
	border: 1px solid black;
	white-space: nowrap;
	max-width: 150px;  /* Максимальная ширина ячейки */
	overflow: hidden;   /* Скрытие переполнения */
	text-overflow: ellipsis;  /* Появление многоточия */
	transition: transform 0.3s ease;
}

.task-container tr:hover {
	background-color: #bec;
}

.task-container th {
	background-color: #b0e0e6;
}

.main {
	padding: 0 60px;
}

.main p {
	font-family: "Orbitron", sans-serif;
	color: white;
	font-size: 24px;
}

.modal {
	display: none; /* Изначально скрыто */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	text-align: center;
}
.close {
	cursor: pointer;
	color: red;
	font-weight: bold;
}

		
@media screen and (orientation: portrait) {
	.main {
		padding: 0;
	}
}