html, body {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(#99A5FF, #BE99FF);
	background-attachment: fixed;
}

#copyPcCode {
	width: fit-content;
}

.table-container {
	padding:20px;
	border: 3px solid white;
	border-radius: 15px;
	max-height: 500px;
	max-width: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	scrollbar-color: white rgba(0,0,0,0);
	font-family: "Yanone Kaffeesatz", sans-serif;
}

.task-container {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
	background-color: rgba(255,255,255,.5);
	height: inherit;
	margin: 0;
}

.task-container td, th {
	padding: 3px 18px;
	text-align: center;
	border: 1px solid black;
	white-space: nowrap;
	max-width: 180px;  /* Максимальная ширина ячейки */
	overflow: hidden;   /* Скрытие переполнения */
	text-overflow: ellipsis;  /* Появление многоточия */
	transition: transform 0.3s ease;
}

.bigTableData {
	display: table-cell;
}

.task-container th {

}

.main {

	padding: 0 60px;
}

.main p {
	font-family: "Yanone Kaffeesatz", sans-serif;
	color: white;
	font-size: 24px;
}

.modal {
	display: none; /* Изначально скрыто */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
	justify-content: center;
	align-items: center;
	font-family: "Orbitron", sans-serif;
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	max-width: 70%;
	word-break: break-word;
}

.close {
	cursor: pointer;
	color: red;
	font-weight: bold;
}
#modalResponse {
	height: 100%;
	overflow-y: auto;
}

.modal-text-container {
	display: flex;
	background-color: black;
	color: white;
	padding:12px;
	font-family: Consolas;
	padding-right: 30px;
	max-height: 500px;
	overflow-y: auto;
}

.modal-text-container p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1200px) {
	.task-container td, th {
		max-width: 100px;
	}
}

@media screen and (orientation: portrait) {
	.bigTableData {
		display: none;
	}
	.main {

		padding: 0 10px;
	}
}